@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>


<div class="accordion">
    <table>
        <tr>Nombre </tr>
        <tr>Apellido </tr>
        <tr>email </tr>


        <td></td>

        <td></td>

        <td></td>

    </table>

</div>